<div class="result-inspiration">
    <div class="response-container">
      <div class="response" id="response"></div>
    </div>
  </div>
  
  <div class="container-index-inspiration">
    <div class="form-area">
      <%= form_with url: inspiration_guide_post_path, method: :post, remote: true do |form| %>
        <div class="prompt-area">
          <div class="form-group">
            <%= form.text_field :place, placeholder: t(:place_input_placeholder), class: "form-control" %>
            <i class="fas fa-times delete_icon"></i>
          </div>
        </div>
        <div class="prompt">
          <div class="template">
            <%= form.submit t(:unknown_tourist_spots), class: "prompt-box" %>
            <%= form.submit t(:scenic_spots), class: "prompt-box" %>
            <%= form.submit t(:popular_restaurants), class: "prompt-box" %>
            <%= form.submit t(:local_cuisine), class: "prompt-box" %>
            <%= form.submit t(:recommended_cafes), class: "prompt-box" %>
            <%= form.submit t(:local_market), class: "prompt-box" %>
            <%= form.submit t(:shopping_districts), class: "prompt-box" %>
            <%= form.submit t(:historical_sites), class: "prompt-box" %>
            <%= form.submit t(:art_galleries), class: "prompt-box" %>
            <%= form.submit t(:family_friendly_spots), class: "prompt-box" %>
            <%= form.submit t(:night_life), class: "prompt-box" %>

            
            <%= form.hidden_field :prompt_value, id: "prompt-value" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  