<main class="container_auth">
  <div class="auth-form">
    <ul class="form-title-link">
      <li><h2>新規登録</h2></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    </ul>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'new_user_registration' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :nickname, "ユーザー名" %>
        <%= f.text_field :nickname, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", id: 'user_email_registration' %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード　6文字以上" %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password", id: 'user_password_registration' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード　確認用" %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

  </div>
</main>