<main class="container-auth">
  <div class="auth-form">
    <ul class="form-title-link">
      <li><h2><%= t(:signup) %></h2></li>
      <li><%= link_to t(:login), new_user_session_path %></li>
    </ul>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :nickname, t(:username) %>
        <%= f.text_field :nickname, class: 'form-control', id: 'username' %>
      </div>

      <div class="field">
        <%= f.label :email, t(:email) %>
        <% resource.errors.full_messages.each do |message| %>
          <% if message.include?(t(:email)) %>
            <div class="error-message"><%= message %></div>
          <% end %>
        <% end %>
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", id: 'useremail' %>
      </div>

      <div class="field">
        <%= f.label :password, t(:password) + t(:password_length) %>
        <% resource.errors.full_messages.each do |message| %>
          <% if message.include?(t(:password)) && !message.include?("confirmation") %>
          <div class="error-message"><%= message %></div>
          <% end %>
        <% end %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password", id: 'userpassword' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, t(:password_confirmation) %>
        <% resource.errors.full_messages.each do |message| %>
          <% if message.include?("confirmation") %>
          <div class="error-message"><%= t(:password_confirmation_error) %></div>
          <% end %>
        <% end %>        
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

  </div>
</main>
