<main class="container_about">
    <section class="feature">
        <div class="feature_item">
            <div class="upper_left">
                <h3><%= t(:create_travel_plan_title) %></h3>
                <p><%= t(:create_travel_plan_description) %></p>
            </div>
        </div>
        <div class="feature_item">
            <div class="middle_right">
                <h3><%= t(:create_customized_plan_title) %></h3>
                <p><%= t(:create_customized_plan_description) %></p>
            </div>
        </div>
        <div class="feature_item">
            <div class="bottom_left">
                <h3><%= t(:inspiration_guide_title) %></h3>
                <p><%= t(:inspiration_guide_description) %></p>
            </div>
        </div>
    </section>