<main class="container-about">
    <section class="feature">
        <div class="feature-item">
            <div class="upper-left">
                <h3><%= t(:create_travel_plan_title) %></h3>
                <p><%= t(:create_travel_plan_description) %></p>
            </div>
        </div>
        <div class="feature-item">
            <div class="middle-right">
                <h3><%= t(:create_customized_plan_title) %></h3>
                <p><%= t(:create_customized_plan_description) %></p>
            </div>
        </div>
        <div class="feature-item">
            <div class="bottom-left">
                <h3><%= t(:inspiration_guide_title) %></h3>
                <p><%= t(:inspiration_guide_description) %></p>
            </div>
        </div>
    </section>