<main class="container_auth">
  <div class="auth-form">
    <ul class="form-title-link">
      <li><h2><%= t(:login) %></h2></li>
      <li><%= link_to t(:signup), new_user_registration_path %></li>
    </ul>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <% if flash[:alert]&.include?("メールアドレス") %>
      <div class="alert alert-danger">
        <div class="error-message"><%= t(:invalid_email_password) %></div>
      </div>
      <% end %>
      <div class="field">
        <%#= f.label :email, "メールアドレス" %>

        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%#= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password", placeholder: "パスワード"  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field remember-me">
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me, "ログインを維持する"  %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>

      <div class="password-reset">
        <%= link_to t(:reset_password), "#" %>
      </div>
      <%#= render "devise/shared/links" %>

    <% end %>

    
  </div>
</main>