<header class="header">
    <div class="header_top">
        <div class="header__logo">
        <%= link_to "AI Travel Planner", root_path %>
        </div>
        <div class="header__search">
            <%= form_with(url: open_ai_search_path, local: true, method: :get, class: "search-form") do |form| %>
            <div class="search-input-container">
                <%= form.text_field :keyword, placeholder: "", class: "search-input" %>
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
            <% end %>
        </div>
        <nav class="header__nav">
            
            <ul>
                <li><button id="dark-mode-toggle">Dark</button></li>
                <li><%= link_to "ログイン", "#" %></li>
                <li><%= link_to "新規登録", "#" %></li>
            </ul
        </nav>
    </div>
    <div class="header_bottom">
        <nav class="category-nav">
            <ul>
            <li><a href="#">国内旅行</a></li>
            <li><a href="#">海外旅行</a></li>
            <li><a href="#">バックパッカー</a></li>
            <li><a href="#">ロードトリップ</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="container_index">
    <%= render 'layouts/plan_input' %>
    <%= render 'layouts/generated_plan' %>
    <%= render 'layouts/right_side' %>
</main> 

<footer class="footer">
    <div class="footer__links">
    <ul>
        <li><%= link_to "利用規約", "#" %></li>
        <li><%= link_to "プライバシーポリシー", "#" %></li>
        <li><%= link_to "お問い合わせ", "#" %></li>
    </ul>
    </div>
    <div class="footer__copyright">
    &copy; AI Travel Planner. All rights reserved. Powered by chatGPT.
    </div>
</footer> 
