<div class="input">
    <%= "※作成中" %>
    <h2 class="cursor-pointer"><%= t(:provide_your_hotel_preferences) %></h2>
    <%= form_with model: @plan, url: open_ai_create_path, class: 'plan-input-form', remote: true do |form| %>
      <div class="form-group">
        <%= form.text_field :destination, placeholder: t(:destination), class: 'form-control', id: 'destination-hotel-input' %>
        <i class="fas fa-times delete_icon"></i>
    </div>

      <div class="form-group">
        <%= form.text_field :date, placeholder: t(:calender), class: 'datepicker form-control', readonly: "" %>
        <i class="fas fa-times delete_icon"></i>
    </div>

      <div class="form-group">
        <%#= form.check_box :budget_option, { checked: true }, class: 'budget-option', id: 'budget-option' %>
        <div class="budget-input">
            <div id="budget-slider"></div>
            <div class="slider-value-container">
                <div class="price_per_night"><%= t(:price) %></div>
                <div><span id="budget-slider-value">10,000</span></div>
                <div class="currency"><%= t(:currency) %></div>
            </div>
        </div>
      </div>
  
      <div class="form-group hidden">
        <%= form.label :accommodation_id, t(:accommodation_id) %>
        <%= form.collection_select(:accommodation_id, Accommodation.all, :id, :translated_name, {}, { class: "select-control", id: "accommodation" }) %>
      </div>
      <%= form.submit t(:get_recommendation_for_hotel_btn), class: 'hotel-input-btn hidden' %>
    <% end %>
  </div>
  