<div class="plan-input">
    <h2>旅のプランを入力</h2>
    <%= form_with model: @plan, url:  open_ai_create_path, class: 'plan-input-form', remote: true do |form| %>
      <div class="form-group">
        <%= form.label :destination, '目的地' %>
        <%= form.text_field :destination, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :duration, '滞在期間' %>
        <input type="range" min="1" max="14" value="1" oninput="displayValue(this.value)">
        <p>Value: <span id="slider-value">1</span></p>
      </div>
      <div class="form-group">
        <%= form.label :budget_option, '予算設定' %>
        <%= form.check_box :budget_option, class: 'budget-option' %>
        <%= form.label :budget, '予算', class: 'budget-label' %>
        <%= form.text_field :budget, class: 'form-control budget-input', disabled: (form.object&.budget_option == false) %>
      </div>
      <div class="form-group">
        <%= form.label :accommodation, '宿泊タイプ' %>
        <%= form.collection_select(:accommodation_id, Accommodation.all, :id, :name, { class: "form-control", id: "accommodation" }) %>
      </div>
      <div class="form-group">
        <%= form.label :activity, 'アクティビティ' %>
        <%= form.collection_select(:activity_id, Activity.all, :id, :name, { class: "form-control", id: "activity" }) %>
    
      </div>
      <div class="form-group">
        <%= form.label :transportation, '移動手段' %>
        <%= form.collection_select(:transportation_id, Transportation.all, :id, :name, { class: "form-control", id: "transportation" }) %>
      </div>
      <div class="form-group">
        <%= form.label :food, '食事' %>
        <%= form.collection_select(:food_id, Food.all, :id, :name, { class: "select-box", id: "food" }) %>
      </div> 
      <div class="form-group">
        <%= form.label :place_to_visit, '訪問地' %>
        <%= form.text_field :place_to_visit, class: 'form-control' %>
      </div>   
      <%= form.submit 'プランを作成', class: 'submit-button' %>
    <% end %>
  </div>